.appRouter-row {
    display: flex; background: white; 
    margin-top: 210px; text-decoration: none;
}

.appRouter-row ::after {
    content: "";
    display: table;
    clear: both;    
}

.appRouter-leftColumn {
    width: 20%;
}

.appRouter-centerColumn {
    width: 60%;
}

.appRouter-rightColumn {
    width: 20%;
}