.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.container_cover {
  // //align-items: center;
  // background: url('/images/cover.jpg');
  // background-size: cover;
  // display: block;
  // height: 100%;
  // //justify-content: center;
  // width: 100%;
}
