.game {
    text-align: center; margin: 0 auto; background-color: $game-title-color;
    color: antiquewhite; max-width: 80rem; margin-bottom: 25px; width: 100%;

    @media #{$breakMobileBig} {
        width: 75%;
    }

    @media #{$breakMobileSmall} {
        width: 100%;
    }

    @media #{$breakMobile}
    {
        flex-direction: column; display: block;  max-width: none;
    }
}

.game-row {
    display: flex; align-items: center; justify-content: center;

    @media #{$breakMobileBig} {
        height: 110px;
    }
}
.game-row ::after {
    content: "";
    display: table;
    clear: both;    
}

.game-column {
    float: left; height: 80px; display: flex;
    align-items: center; justify-content: center;
}

.game-column-right {
    width: 10%;

    @media #{$breakMobile} {
        display: none;    
    }
}
.game-column-center {
    width: 75%;

    @media #{$breakMobile} {
        width: 100%;
    }
}
.game-column-left {
    width: 15%; transition:.35s; cursor: pointer;

    @media #{$breakMobile} {
        display: none;
    }
}

.game-column-left:hover {
    background-color: rgb(97, 159, 221);
}


.game-avatar {
    max-height: 70px;
    max-width: 70px;
    margin: auto;
    position: absolute;
}
.game-title {
    font-size: $l-size; font-weight: bold;
    text-align: center; padding-right: 10px;

    @media #{$breakMobile} {
        font-size: 2rem; font-weight: bold; text-align: center;
        display: flex; align-items: center; justify-content: center;
    }

    @media #{$breakMobileBig} {
        font-size: 3.3rem;
    }
}

.game-details {
    background: rgba(77, 149, 221,0.5);
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media #{$breakMobileBig} {
        font-size: 1.8rem;
    }
}

.game-link {
    color: $game-link-color;
    text-decoration: none;
    font-size: $l-size;
}