.games-area {
    padding-top: 180px;
    // position: fixed;
    // top: 180px;
    // overflow: auto;
    // height: 100%;
    // margin: auto;
}

ul {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
}


@media only screen and  (max-width: 800px) {
    .games-area {
        padding-top: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}