.games-area {
    padding-top: 220px;
    margin-top: 30px;
    @media #{$breakMobile} {
        padding-top: 15px; display: flex; align-items: center; justify-content: center;
        width: 100%;
    }
}

ul {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
    @media #{$breakMobile} {
        width: 100%;
    }
}