.games-area {

    @media #{$breakMobile} {
        padding-top: 15px; display: flex; align-items: center; justify-content: center;
        width: 100%;
    }
}

.games-watchingArea{
}

.games-row {
    display: flex; padding-top: 220px; margin-top: 30px;
    @media #{$breakMobile} {
        padding: 15px;
    }
}

.games-row ::after {
    content: "";
    display: table;
    clear: both;    
}

.games-rightColumn {
    width:65%;

    @media #{$breakMobile} {
        width: 100%;
    }
}

.games-leftColumn {
    width: 35%; 

    @media #{$breakMobile} {
        display: none;
    }
}
ul {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
    @media #{$breakMobile} {
        width: 100%;
    }
}