.searchBox {
    background: white; width: 250px; height: 32px;
    border: none; display: flex; align-items: center; 
    box-shadow:3px 3px 0 rgba(0,0,0,.25);

    @media #{$breakMobile} {
        width: 350px; height: 45px; box-shadow: none;
    }
}

.SearchBox:hover {
    cursor: pointer;
}

.searchBox-icon {
    color: white; font-size: 25px; background: rgb(255, 123, 0);
    height: 100%; width: 50px; display: flex;
    align-items: center; justify-content: center;

    @media #{$breakMobile} {
        width: 60px;
    }
}

.searchBox-input {
    border: none; text-align: right; width: 100%;
    margin-right: 10px; margin-left: 10px; font-size: 20px;
    outline: 0px; 
}