// .watchingList-table-channelColumn {

// }

// .watchingList-table-titleColumn {
    
// }

// .watchingList-table-timeColumn {
    
// }
.watchingList-table-titles {
    background: rgb(247, 145, 50);
    color: antiquewhite;
    font-size: 20px;
}

.watchingList-table-details {

}
