.nav {
    background-color: white;  margin: 0 auto;
    display: block; width: 100%; box-sizing: border-box;
    color: #2B2B2B; text-decoration: none; 
}   

.nav-top {
    display: flex; justify-content: space-between; background-color: white; width: 100%;
    padding-top: 0px;  padding-bottom: 0px; position: fixed; top: 0px; height: 60px;

}
.nav-top-logo {
    font-size: 40px; padding-right: 60px; position: relative; font-weight: bold; 
}

.nav-top-search {
    padding-left: 60px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
