.pageTitle {
    background-image: url(/images/titleImage.png); height: fit-content; margin-top: 105px;
}

.pageTitle-text {
    direction: rtl; font-size: 80px; font-weight: bold; 
    color: #f2eee9; height: 200px;  display: flex; align-items: center; justify-content: center;
}
.pageTitle-text:empty {
    display: none;
}