.searchBox {
    // background: white; width: 250px; height: 22px; 
  
    border: none; display: flex; align-items: center;

    // @media #{$breakMobile} {
    //     width: 350px; height: 45px; box-shadow: none;
	// }
	
    // @media #{$breakMobileBig} {
	// 	width: auto;    
	// }
	// @media #{$breakMobileSmall} {
	// 	width: 200px; display: block;
    // }
}

.SearchBox:hover {
    cursor: pointer;
}

.searchBox-icon {
    color: #76323F; font-size: 28px;
    height: 100%; width: 50px; display: none;
    align-items: center; justify-content: center; 

    @media #{$breakMobile} {
        width: 60px;
    }
}

.searchBox-input {
	width: 100%; margin-right: 10px; font-size: $m-size; color: $dark-gray;
	background: none; border-bottom: 1.5px solid $red;	border-top: none; border-left: none; border-right: none;
	// @media #{$breakMobile} {
    //     margin-right: 53px; font-size: 15px;
    // }
}
.searchBox-input:focus {
	outline: none;
	border-bottom: 3px solid $red;
}

::-webkit-input-placeholder {
	color: $dark-gray;
	//font-weight: bold;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: $dark-gray;
	//font-weight: bold;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: $dark-gray;
	//font-weight: bold;
}

:-ms-input-placeholder {
	color: $dark-gray;
	//font-weight: bold;
}
