.gameLinkItem {
    position: relative; width: 100%; height: 100%;

    @media #{$breakMobileSmall} {
        width: 90%; margin: 0 auto;
    }
}

.gameLinkItem-video {
    position: absolute; width: 100%; height: 100%;
}

.gameLinkItem-text {
    position: absolute; z-index: 10; background: rgba(245, 245, 245, 0.7);
    bottom: 0; color: $dark-gray; width: 100%; font-weight: bold;
    padding-left: 10px;
}

.gameLinkItem-text:hover {
    background: rgba(245, 245, 245, 0.4);
}

.gameLinkItem-text-title {
    font-size: $m-size;
}

.gameLinkItem-text-LeaguePage {
    font-size: $s-size;
}

.gameLinkItem-text-date {
    font-size: $s-size;
}