.games-area {
    @media #{$breakMobile} {
        padding-top: 0px; display: flex; align-items: center; justify-content: center;
        width: 100%;
    }
}

.games-row {
    display: flex; 
    @media #{$breakMobile} {
        padding: 15px;
    }
}

.games-row ::after {
    content: "";
    display: table;
    clear: both;    
}

.games-leftColumn {
    width:80%;

    @media #{$breakMobile} {
        width: 100%;
    }
}

.games-rightColumn {
    width: 20%; 

    @media #{$breakMobile} {
        display: none;
    }
}
ul {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
    @media #{$breakMobile} {
        width: 100%;
    }
}