.homepage {

}

.homepage-trend-title {
    width: 100%; background: $red; color: $white; font-size: $m-size; text-align: center
}

.homepage-trend-grid {
    margin-top: 20px;
}

.homepage-new-title {
    width: 100%; background: $blue; color: $white; font-size: $m-size; text-align: center; 
    margin-top: 30px;
}

.homepage-new-grid {
    margin-top: 20px;
}
