.searchPage {
}

.searchPage-content {
    display: flex; 

    @media #{$breakMobile} {
        flex-direction: column; justify-content: center;
        align-items: center; 

    }
}

.searchPage-title {
    background: $blue; color: $white; width: 100%;
     text-align: center; font-size: $m-size; margin-bottom: 20px;
}

.searchPage-player {
    flex: 70%;
    padding-left: 10px;

    @media #{$breakMobile} {
        order: 1; width: 90%; flex:unset;
    }
}

.searchPage-gamesList  {
    height: 700px; overflow: hidden; overflow-y: auto;
    
    @media #{$breakMobile} {
        height: auto; order: 2; margin-top: 120px; width: 90%;
    }
}

.searchPage-gamesList::-webkit-scrollbar {
    width: 10px;

    @media #{$breakMobile} {
        display: none; 
    }
  }
  
  /* Track */
  .searchPage-gamesList::-webkit-scrollbar-track {
    background: $azure; 

    @media #{$breakMobile} {
        display: none; 
    }
  }
  
  /* Handle */
  .searchPage-gamesList::-webkit-scrollbar-thumb {
    background: $blue; 

    @media #{$breakMobile} {
        display: none; 
    }
  }
  
  /* Handle on hover */
  .searchPage-gamesList::-webkit-scrollbar-thumb:hover {
    background: $blue; 

    @media #{$breakMobile} {
        display: none; 
    }
  }