// Colors
$red: #d75c37;
$dark-gray: #565e64;
$gray: #67727a;
$blue: #6991ac;
$azure: #c3d7df;
$white: #f5f5f5;
// Spacing
$s-size: 0.9rem;
$sm-size:1.05rem;
$m-size: 1.2rem;
$ml-size: 2.2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//screen breakpoints
$breakLaptop: "only screen and (min-width: 1024px) and (max-width: 1470px)";
$breakMobile: "only screen and (max-width: 1023px)";
$breakMobileBig: "only screen and (min-width: 768px) and (max-width: 1023px)";
$breakMobileSmall:"only screen and (max-width: 767px)";
